{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="{{ if not .Site.Params.homepage.showRecent }}
  h-full
  {{ end }} flex flex-col items-center justify-center text-center">
  <header class="relative px-1 py-1 flex flex-col items-center mb-3">
    {{ with .Site.Params.Author.image }}
    {{ $authorImage := "" }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
    {{ $authorImage = resources.GetRemote . }}
    {{ else }}
    {{ $authorImage = resources.Get . }}
    {{ end }}
    {{ if $authorImage }}
    {{ if not $disableImageOptimization }}
    {{ $authorImage = $authorImage.Fill (print "288x288 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
    {{ end }}
    <img class="mb-2 rounded-full h-36 w-36" width="144" height="144" alt="{{ $.Site.Params.Author.name | default " Author" }}"
      src="{{ $authorImage.RelPermalink }}" />
    {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold">
      {{ .Site.Params.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Params.Author.headline }}
    <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
      {{ . | markdownify }}
    </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </header>
  <section class="prose dark:prose-invert">{{ .Content }}</section>
</article>
<article class="max-w-4xl mx-auto p-6 space-y-6">
<section>
  <div class="text-lg md:text-2xl leading-relaxed text-secondary-700 dark:text-gray-300">
    <p>
      Sono una pedagogista specializzata nella progettazione di esperienze educative innovative per ragazzi e adulti, 
      con un focus particolare sull'apprendimento attraverso il gioco di ruolo. Durante gli anni di studio all’Università 
      degli Studi di Milano Bicocca, ho scoperto il mondo del gioco di ruolo, che è diventato una passione prima personale 
      e poi professionale. Da giocatrice entusiasta, sono diventata content creator e, successivamente, game master, 
      trasformando questa passione in uno strumento educativo.
    </p>
    <p>
      La mia esperienza e conoscenza approfondita del gioco di ruolo mi hanno permesso di sfruttarlo per scopi educativi, 
      formativi e divulgativi. Negli ultimi anni ho collaborato con diverse realtà per sviluppare progetti che uniscono 
      il potenziale formativo del gioco di ruolo alla pedagogia.
    </p>
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
      Turno di Guardia
    </h2>
    <p>
      Uno dei miei principali progetti è 
      <a href="https://ilturnodiguardia.it/" class="text-primary-500 hover:text-primary-700">
        Il Turno di Guardia
      </a>, una serie di esperienze residenziali dedicate a preadolescenti, adolescenti e adulti. Attraverso il gioco di 
      ruolo, queste attività mirano a creare legami autentici, favorire la scoperta di sé stessi e affrontare tematiche 
      formative in modo coinvolgente e creativo.
    </p>
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
      Scuole
    </h2>
    <p>
      In ambito scolastico, progetto e conduco laboratori di gioco di ruolo che combinano strumenti psicopedagogici con 
      avventure immersive. Questi laboratori sono pensati per esplorare tematiche educative concordate con le scuole o per 
      affrontare dinamiche specifiche all'interno di un gruppo classe. In caso di interesse è possibile contattarmi per <a href="mailto:giada.taribelli@gmail.com" class="text-primary-500 hover:text-primary-700">
        mail
      </a>. 
    </p>
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
      Adulti
    </h2>
    <p>
      Per gli adulti, offro corsi di formazione, consulenze per la progettazione di esperienze ludico-formative, e 
      attività di team building. Utilizzo il gioco di ruolo e altri strumenti educativi per promuovere la collaborazione e 
      rafforzare le relazioni all'interno dei gruppi di lavoro. Per consulenze e informazioni potete mandarmi una <a href="mailto:giada.taribelli@gmail.com" class="text-primary-500 hover:text-primary-700">
        mail
      </a>. 

    </p>
    <p>
      Inoltre, collaboro come game master con il progetto 
      <a href="https://travelsanddragons.it/" class="text-primary-500 hover:text-primary-700">
        Travels&Dragons
      </a>, un format di viaggi di gruppo che utilizza il gioco di ruolo per esplorare la storia e le leggende dei 
      territori visitati.
    </p>
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
      Podcast
    </h2>
    <p>
      Sono anche podcaster: co-conduttrice e produttrice di 
      <a href="https://open.spotify.com/show/1xUd7hMLVjCUcvDDtqyP5q?si=20ea328188844d3d" class="text-primary-500 hover:text-primary-700">
        Due Draghi al Microfono
      </a>, 
      <a href="https://open.spotify.com/show/5tExscuC59ILdVBHxDF2kz?si=a13c98b927764c66" class="text-primary-500 hover:text-primary-700">
        Storie di Vapore
      </a>, e 
      <a href="https://open.spotify.com/show/78Db3i2bBJd5MFtdOxSyr1?si=6f09c3fa3dc340a3" class="text-primary-500 hover:text-primary-700">
        Due Draghi SideCast.
      </a> Mi occupo dell’editing, del sound design e della produzione esecutiva.
    </p>
  </div>
</section>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
</article>
